@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: "Roboto", "Lucida Grande", sans-serif;
}

.page {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "search search" "table table";
}

.left-header {
    grid-area: left-header;
}

.right-header {
    padding-top: 1em;
    display: flex;
    justify-content: flex-end;
    grid-area: right-header;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left-header right-header";
    margin-top: 1em;
}

@media only screen and (min-width: 600px) {
    .page {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Typography */

h1 {
    font-size: 4.5em;
    font-weight: 300;
    /*Light*/
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    /*Bold*/
    margin: 0;
}

p {
    line-height: 1.5em;
    margin-top: .5em;
}

.votedate {
    text-align: right;
}

.votedate h5 {
  margin: 0 0 .25em 0;
  font-weight: normal;
}

.table {
    grid-area: table;
    margin-top: 2em;
}

table {
    width: 100%;
}

table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-collapse: collapse;
    text-align: left;
    padding: 1.5em;
}

.data thead {
    background-color: #eee;
}

.search {
    grid-area: search;
    margin-top: 2em;
}

#search {
    box-sizing: border-box;
    font-size: 1.25em;
    padding: 1em;
    border: none;
    background-color: #eee;
    width: 100%;
}

tr:nth-child(odd) {}

tr:nth-child(even) {
    background-color: #eee;
}

tbody tr:hover {
    background-color: #ffff99;
}
