{% extends "layout.html" %} {% block title %}- The Importance of Voting{% endblock %} {% block content %}

<article id='importance-of-voting'>
  <section>
    <h2>The Importance of Voting</h2>
    <h3>Why should you vote on May 9th?</h3>
  </section>
  <p></p>

  <p>A democracy is only as strong as its participants make it out to be. For all its advantages, it is a system that can become less representative and less fair if participation by citizens weakens. By the same token, however, it is a system that can be
    strengthened through active participation and engagement, making it so more voices and opinions can be heard. This is why voting in elections – federal, provincial, and municipal – is so important.</p>

  <p>Voting is the bedrock of any democracy. It is the reason the system exists, to represent the whole of the population in the process of government, which is why it should be seen not simply as a right, but as a responsibility – not voting means the weakening
    of the democratic process and the decreased voice of the people in government. </p>

  <p>In the 2013 British Columbia Provincial Election, the turnout was of 1,803,051 people, a total of 57.1% of the eligible voting population. While this number was a slight improvement over the past two elections, it still meant that over 40 per cent of
    eligible voters did not participate, and this is a worrying trend that has become more evident over the past few elections, not only provincially, but also at a federal level.</p>

  <p>Lower turnout usually means a population that is less engaged in the political process, either through apathy or not having sufficient information, which in turn means that it is a population that is less attentive of the process of governing. This
    can lead to parties governing without the proper checks that an engaged and informed citizenry provide, mainly the threat of removing said governing party from power at the next elections if they govern against the best interests of their constituents.</p>

  <p>Higher turnout also means a more representative democracy, even if a party you have not voted for is elected. A large turnout in a riding will mean that both the provincial government and that riding’s representative will have to pay attention to the
    wishes of all of those citizens more closely. This works both ways: If the ruling party wins a high-turnout riding by a large margin, it will want to keep that large number of voters happy; at the same time, if the ruling party wins a high-turnout
    riding by a slim margin, it will want to keep that riding happy because it knows slight changes in opinion in said riding could mean the loss of its seat in the next election.</p>

  <p>Many citizens justify not voting because they feel no party properly represents them, and while that is a valid complaint, it should not be an excuse to not vote, and instead can be used as a motivation to get out there on election day. </p>

  <p>The idea that voting for a party that will not be represented in the provincial Assembly is a meaningless vote is not true. Political parties care about how many votes they got compared to others, and their share of the total vote in a riding or province-wide.
    Any vote to a non-establishment party diminishes the main parties’ share of the total vote, and therefore sends a stronger message to them that they are not properly hearing the voices of their citizens than not voting at all.</p>

  <p>Thinking of voting as a central responsibility of being a citizen is key to combat the problem of political apathy and low turnout. By deciding early on that one is going to vote, one can begin to consume the necessary information about the candidates,
    the issues, and their positions. By getting in the mindset that voting is not a nuisance, but a key part of contributing to a democratic society, one can become more interested and engaged, and in turn strengthen their country’s democracy and ensure
    a more representative government that listens to its citizens.</p>
  <footer>
    <h4>
                    Written by Gustavo Destro
                </h4>
  </footer>
</article>
{% endblock %}
